<%# Print-proof frame + registration marks + the red-thread scroll progress
    line. Shared by every page so the poster chrome is consistent. %>
<div class="pointer-events-none fixed inset-2 z-50 hidden border border-ink/25 sm:block" aria-hidden="true">
  <span class="regmark -left-1.5 -top-1.5"></span>
  <span class="regmark -right-1.5 -top-1.5"></span>
  <span class="regmark -left-1.5 -bottom-1.5"></span>
  <span class="regmark -right-1.5 -bottom-1.5"></span>
</div>
<div class="scroll-thread fixed bottom-2 left-2 top-2 z-50 hidden w-[2px] bg-sakura sm:block" aria-hidden="true"></div>
